.search-results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .search-results__loading, .search-results__none {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search__container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  }